@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-inner-spin-button{
    display: none;
}

.text{
    text-shadow: 2px 3px 2px #09edea;
}

body{
    background: url('Images/bg.jpeg');
    background-position: center;
    background-size: cover;
    filter: blur(0px);

}

